.show-left {
    animation: slide-in 0.7s both;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateY(0);
    }
  }


  .show-right {
    animation: slide-in-right 0.7s both;
  }
  
  @keyframes slide-in-right {
    0% {
      transform: translateX(1000px);
    }
    100% {
      transform: translateY(0);
    }
  }


  