@use "../Abstract/variables";

.mainBtn {
    color: variables.$textHoverColor;
    padding: 0.4rem 1.2rem 0.6rem 1.2rem;
    border: 2px solid variables.$textHoverColor;
    border-radius: 9999px;
    transition: all 0.5s;

    &:hover{
        color: variables.$textColorWhite !important;
        cursor: pointer;
        background-color: variables.$textHoverColor;
        box-shadow: variables.$mainShodws;
    }
}

.inactiveBtn {
    background-color: #3535357a;

    &:hover{
        color: variables.$mainColor !important;
        cursor:not-allowed;
        background-color: #3535357a;
        box-shadow: variables.$mainShodws;
    }
}


.submitBtn {
    color: variables.$textColorWhite;
    background-color: variables.$textHoverColor;
    padding: 0.4rem 1.2rem 0.6rem 1.2rem;
    border: 2px solid variables.$textHoverColor;
    border-radius: 9999px;
    transition: all 0.5s;
    box-shadow: variables.$mainShodws;
    font-size: 1.4rem;

    &:hover{
        color: variables.$textHoverColor !important;
        cursor: pointer;
        background-color: variables.$textColorWhite;
    }
}

