.mainBtn {
    color: $textHoverColor;
    padding: 0.4rem 1.2rem 0.6rem 1.2rem;
    border: 2px solid $textHoverColor;
    border-radius: 9999px;
    transition: all 0.5s;

    &:hover{
        color: $textColorWhite !important;
        cursor: pointer;
        background-color: $textHoverColor;
        box-shadow: $mainShodws;
    }
}

