@font-face {
    font-family: 'eurostile';
    src: url('../../../public/fonnts.com-Eurostile_Medium.otf');
    // src: url('../../../public/fonnts.com-Eurostile.otf');

}


.mainHeader {
    font-family: "eurostile", sans-serif;
    font-weight: bold !important;
    font-size: 3.2rem;
}


.secondaryHeader {
    font-family: "eurostile", sans-serif;
    font-weight: bold !important;
    font-size: 2.6rem;
}

.white-text{
    color: $textColorWhite;
}