@use "../Abstract/variables";

.notification-outer{
    position: fixed;
    width: auto;
    z-index: 9999;
    top: 10%;
    right: 10%;
    box-shadow: variables.$mainShodws;
    border-radius: 9999px;
    padding: 1rem;

    @media only screen and (max-width: variables.$breakpoint-small) {
        right: 2%;
    }
}

.notification{
    z-index: 10000;
    height: 6rem;
    border-radius: inherit;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    font-size: 1.2rem;

    &-status {
        font-weight: bold;
        font-size: 1.4rem;
    }
}


.errNotification {
    background-color: variables.$errColor;
}

.succNotification {
    background-color: #6d07f3bb;
}



//Gallery


$dots-color: #fff;
$dots-hover: variables.$mainColor;

$dark-dots-color: variables.$mainColor;
$dark-dots-hover: #fff;

$arrow-color: variables.$mainColor;
$arrow-hover:  variables.$mainColorLight;

$dark-arrow-color: #fff;
$dark-arrow-hover: #ffffff83;



/* Default theme (light) */
:root {
    --dots-color: #{$dots-color};
    --dots-hover: #{$dots-hover};
    --arrow-color: #{$arrow-color};
    --arrow-hover: #{$arrow-hover};
  }
  
  /* Dark theme */
  .dark-mode {
    --dots-color: #{$dark-dots-color};
    --dots-hover: #{$dark-dots-hover};
    --arrow-color: #{$dark-arrow-color};
    --arrow-hover: #{$dark-arrow-hover};
  }



.gallery{

    position: relative;
    transition: all 0.5s;
    min-height: 100vh;
    padding: 2rem;

    @media screen and (max-width: variables.$breakpoint-medium) {
        min-height: 50vh;
    }

    &-label{
        color: #fff;
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    &-img{
        // width: 100%;
        max-width: 72rem;
        
        display: flex;
        transition: all 0.5s;
        position: relative;
    }

    &-img-conatiner {
        border-radius: 8px;
        overflow: hidden;
        display: grid;
        place-items: center;
        position: relative;

        img{
            max-width: 100%;
            height: auto;
            grid-area: 1 / 1;
        }
        &:hover{
            // transform: scale(1.05);
            cursor: grab;
        }
    }

    &-arrow{
        position: absolute;
        color: var(--arrow-color);
        font-size: 2rem;

        svg{

            transition: all 0.5s;

            &:hover{
                cursor: pointer;
                transform: scale(1.2);
                color: var(--arrow-hover);
            }
        }

        @media screen and (max-width: variables.$breakpoint-medium) {
            display: none;
        }
    }

    &-loading{
        width: 42rem;
        height: 40vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
       
        @media screen and (max-width: variables.$breakpoint-medium) {
            height: 20vh;
        }
    }

}

.gallery-dots {
    // position: absolute;
    padding: 1rem;
    z-index: 3;
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    &-single {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1px solid #33333377;
        transition: all 0.5s;
        background-color: var(--dots-color);

    
        &:hover {
            cursor: pointer;
            background-color: var(--dots-hover);
        }
    }
}

.leftA {
    left: -8%;
    top: 50%;
    transform: translateY(-50%);
}

.rightA {
    right: -8%;
    top: 50%;
    transform: translateY(-50%);
}


.not-visible {
    display: none;
}

.active-dot-r{
    background-color: var(--dots-hover) !important;
}



//LOADING Dots
/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
  }

  @keyframes l7 {
      33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
      50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
      66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
  }