$mainColor: #6E07F3;
$mainColorLight: #009675;


$textColor: #141c3a;
$textColorWhite:  #fff;
$textHoverColor: #6E07F3;



$background-color: #ffffff;
    
$errColor: rgba(255, 62, 62, 0.973); 




//Padding - Margins
$defaultPaddingSection: 6rem;


//Rensponsive EndPoints
$breakpoint-small: 600px;
$breakpoint-medium: 800px;
$breakpoint-large: 1200px;


//Shadows
$mainShodws: 0px 0px 12px 0px #33333363;
$mainShodwsLight: 0px 0px 12px 0px #e4e4e463;


// Font Family
$headersFamily: "Playfair Display", serif;