//Global/Abstract
@import './Abstract/variables';
@import './Global/buttons';
@import './Global/text';
@import './Global/animations';
@import './Global/uiElements';


//Navigation
@import './Navigation/navigation';

//Hero section
@import './Hero/hero';

//Skills Section
@import './Skills/skills';
@import './Skills/techStack';

//Projects Sectio
@import './Projects/projects';

//Contact
@import './Contact/contact';


//Project Details
@import './ProjectDetails/projectDetails';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
  }

li {
    list-style: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;

    @media screen and (max-width: $breakpoint-medium) {
      font-size: 80%;
    }

    @media screen and (max-width: $breakpoint-small) {
      font-size: 70%;
    }
}

body{
  font-family: "europa", sans-serif;
  background-color: $background-color;
  position: relative;
}



a {
  text-decoration: none;
  color: $textColor;
}


//ScrollBar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  transition: all 0.3s;
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  transition: all 0.3s;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: pointer;
}