//Global/Abstract
@use 'Abstract/variables';
@use 'Global/buttons';
@use 'Global/text';
@use 'Global/animations';
@use 'Global/uiElements';


//Navigation
@use 'Navigation/navigation';

//Hero section
@use 'Hero/hero';

//Skills Section
@use 'Skills/skills';
@use 'Skills/techStack';

//Projects Sectio
@use 'Projects/projects';

//Contact
@use 'Contact/contact';


//Project Details
@use 'ProjectDetails/projectDetails';


//Footer
@use 'Footer/footer';


@font-face {
  font-family: 'eurostile';
  src: url('/fonnts.com-Eurostile_Medium.otf');
  // src: url('../../../public/fonnts.com-Eurostile.otf');

}




* {
    font-family: "eurostile", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
  }

li {
    list-style: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;

    @media screen and (max-width: variables.$breakpoint-medium) {
      font-size: 80%;
    }

    @media screen and (max-width: variables.$breakpoint-small) {
      font-size: 70%;
    }
}

body{
  font-family: "europa", sans-serif;
  background-color: variables.$background-color;
  position: relative;
}



a {
  text-decoration: none;
  color: variables.$textColor;
}


//ScrollBar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  transition: all 0.3s;
  // border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: variables.$mainColor; 
  transition: all 0.3s;
  // border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: pointer;
}