.skills {
    max-height: 80vh;
    background-color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 6rem 6rem 12rem 6rem;
    
    &-header{
        margin-top: 4rem;
        max-width: 72rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2{
            font-size: 1.2rem;
        }
    }
}


@media only screen and (max-width: $breakpoint-medium) {
    .skills {
        padding: 6rem 1rem 12rem 1rem;
        &-header{
            max-width: none;
        }
    }
}