@use "../Abstract/variables";

.tech-stack{
    background-color: variables.$background-color;
    box-shadow: variables.$mainShodws;

    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;


    padding: 6rem;
    
    border-radius: 8px;

    margin-top: -10rem;
    margin-inline: 12rem;
    margin-bottom: 12rem;


    @media screen and (max-width: variables.$breakpoint-medium) {
        margin-top: -14rem;
    }


}

.stack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 6rem;
}

.singleTech {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;

    &-logo{
        font-size: 6rem;
        overflow: hidden;
        transition: all 0.8s;
        color: variables.$mainColor;

        &:hover{
            transform: scale(110%);
        }
    }
}



@media only screen and (max-width: variables.$breakpoint-medium + 150px) {
    .tech-stack{
        padding: 2rem;
        margin-inline: 2rem;
    }

    .stack{
        grid-template-columns: repeat(2, 1fr);
    }

}