.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    box-shadow: $mainShodws;
    border-radius: 8px;
    margin: 0 auto;
}


.contact-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: auto;
    gap: 3rem;
    padding: 3rem;
    border-left: 1px solid #333;

    &-input{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        input {
            background-color: #cecece69;
            padding: 1rem 2rem;
            border-radius: 9999px;
            border: none;
            font-size: 1.4rem;
            letter-spacing: 1px;
        }
    }
}