@use "../Abstract/variables";


.footer {

    margin-top: 42rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-main {
        position: relative;
        width: 100%;
        height: 50vh;
        background-color: variables.$mainColor;
        z-index: 1;
    }

    &-contact {
        position: relative;
        min-height: 12rem;
        width: 70%;
        background-image: linear-gradient(to left, #101f7e , variables.$mainColor);
        margin-bottom: -8rem;
        margin-inline: 2rem;
        overflow: hidden;
        z-index: 2;
        border-radius: 8px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 2rem;
        align-items: center;
        column-gap: 2rem;
        color: #fff;
        justify-items: center;
        text-align: center;
        box-shadow: variables.$mainShodwsLight;

        a{
            width: fit-content;
            font-size: 1.4rem;
            padding: 1rem 2rem;
            color: #fff;
            border-color: #fff;

            &:hover{
                border-color: variables.$mainColor;
            }
        }
    }
}